body {
  color-scheme: dark;
}
#youtube-icon {
  background-color: red;
}
div#parent {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  margin: 2px 0px;
  padding: 0px;
  align-content: space-evenly;
  align-items: center;
  width: 1500px;
}

div#first_div {
  display: flex;
  float: left;
  height: 100px;
  width: 200px;
  /* background-color: blue; */
  align-items: center;
}

div#second_div {
  display: flex;
  height: 100px;
  width: 750px;
  margin: 0px 200px;
  /* background-color: red; */
  align-items: center;
}

div#third_div {
  display: flex;
  float: right;
  height: 100px;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  /* background-color: green; */
}

input {
  width: 700px;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  /* background: url(image.png/ambetern.png); */
  background: url(image.png/search.png) no-repeat right;
}

div#div_main {
  font-weight: 500 bold;
}
#video1 {
  float: left;
  padding-right: 8px;
  height: 300px;
  margin-left: 100px;
}
#video2 {
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 250px;
}
#frame1 {
  margin-bottom: 10px;
}
#frame2 {
  margin-bottom: 10px;
}
.div-videos {
  position: relative;
}
.video1 {
  float: left;
  height: 400px;
  width: 40%;
}
.div_main {
  display: grid;
  width: 50px;
  height: 100vh;
  position: absolute;
  top: 100px;
  left: 4px;
  align-content: space-around;
  padding-left: 10px;
}

a:hover {
  color: black;
  background: lightgray;
  border: 1px solid lightgray;
  padding: 5px;
}
a {
  color: black;
  margin: 0px;
  padding: 0px;
}
